:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
}

.shape {
  height: 10px;
  width: 10px;
  box-shadow: 500px 10px black, 510px 10px black, 520px 10px black,
    530px 10px black, 540px 10px black, 550px 10px black, 560px 10px black,
    570px 10px black, 580px 10px black /*first line*/, 490px 20px black,
    480px 20px black, 470px 20px black, 460px 20px black, 500px 20px red,
    510px 20px red, 520px 20px red, 530px 20px black, 540px 20px black,
    550px 20px black, 560px 20px red, 570px 20px red, 580px 20px red,
    590px 20px black, 600px 20px black, 610px 20px black /*second line*/,
    450px 30px black, 440px 30px black, 620px 30px black, 630px 30px black,
    610px 30px red, 600px 30px red, 590px 30px black, 580px 30px black,
    570px 30px black, 560px 30px black, 550px 30px red, 540px 30px red,
    530px 30px red, 520px 30px black, 510px 30px black, 500px 30px black,
    490px 30px red, 480px 30px red, 470px 30px red, 460px 30px red,
    /*third line*/ 430px 40px black, 440px 40px red, 450px 40px red,
    460px 40px black, 470px 40px black, 480px 40px black, 490px 40px black,
    500px 40px red, 510px 40px red, 520px 40px red, 530px 40px red,
    540px 40px red, 550px 40px red, 560px 40px red, 570px 40px red,
    580px 40px red, 590px 40px red, 600px 40px black, 610px 40px red,
    620px 40px black, 630px 40px red, 640px 40px black,
    /*fourth line*/ 650px 50px black, 660px 50px black, 640px 50px red,
    630px 50px black, 620px 50px black, 610px 50px black, 600px 50px red,
    590px 50px red, 580px 50px red, 570px 50px red, 560px 50px red,
    550px 50px red, 540px 50px red, 530px 50px red, 520px 50px red,
    510px 50px red, 500px 50px red, 490px 50px red, 480px 50px grey,
    470px 50px red, 460px 50px black, 450px 50px black, 440px 50px red,
    430px 50px red, 420px 50px black, /*fifth line*/ 410px 60px black,
    410px 70px black, 400px 70px black, 420px 60px red, 430px 60px red,
    440px 60px black, 450px 60px red, 460px 60px red, 470px 60px red,
    480px 60px grey, 490px 60px red, 500px 60px red, 510px 60px red,
    520px 60px red, 530px 60px red, 540px 60px red, 550px 60px red,
    560px 60px red, 570px 60px red, 580px 60px red, 590px 60px red,
    600px 60px red, 610px 60px black, 620px 60px red, 630px 60px red,
    640px 60px black, 650px 60px red, 660px 60px red, 670px 60px black,
    /*sixth-line*/ 420px 70px red, 430px 70px black, 440px 70px red,
    450px 70px red, 460px 70px red, 470px 70px red, 480px 70px grey,
    490px 70px red, 500px 70px red, 510px 70px red, 520px 70px red,
    530px 70px red, 540px 70px red, 550px 70px red, 560px 70px red,
    570px 70px red, 580px 70px red, 590px 70px red, 600px 70px red,
    610px 70px black, 620px 70px red, 630px 70px red, 640px 70px red,
    650px 70px black, 660px 70px red, 670px 70px black,
    680px 70px black /*seventh line*/, 690px 80px black, 690px 90px black,
    700px 100px black, 700px 110px black, 710px 110px black, 710px 120px black,
    720px 130px black, 680px 80px red, 670px 80px black, 660px 80px black,
    650px 80px red, 640px 80px red, 630px 80px red, 620px 80px red,
    610px 80px black, 600px 80px black, 590px 80px black, 580px 80px black,
    570px 80px black, 560px 80px black, 550px 80px black, 540px 80px black,
    530px 80px black, 520px 80px black, 510px 80px black, 500px 80px black,
    490px 80px black, 480px 80px grey, 470px 80px red, 460px 80px red,
    450px 80px red, 440px 80px red, 430px 80px red, 420px 80px black,
    410px 80px red, 400px 80px red, 390px 80px black /*eighth line*/,
    480px 90px grey, 470px 90px grey, 460px 90px red, 450px 90px red,
    440px 90px red, 430px 90px red, 420px 90px black, 410px 90px black,
    400px 90px red, 390px 90px red, 380px 90px black, 490px 90px red,
    500px 90px red, 510px 90px red, 520px 90px red, 530px 90px red,
    540px 90px red, 550px 90px red, 560px 90px red, 570px 90px red,
    580px 90px red, 590px 90px red, 600px 90px red, 610px 90px black,
    620px 90px black, 630px 90px red, 640px 90px red, 650px 90px red,
    660px 90px red, 670px 90px black, 680px 90px red, 620px 100px red,
    /*ninth line*/ 460px 100px grey, 450px 100px red, 440px 100px red,
    430px 100px red, 420px 100px grey, 410px 100px red, 400px 100px black,
    390px 100px red, 380px 100px black, 370px 110px black, 370px 120px black,
    360px 130px black, 360px 140px black, 480px 100px red, 470px 100px red,
    490px 100px grey, 500px 100px red, 510px 100px red, 520px 100px red,
    530px 100px red, 540px 100px red, 550px 100px red, 560px 100px red,
    570px 100px red, 580px 100px red, 590px 100px red, 600px 100px red,
    610px 100px black, 630px 100px black, 640px 100px red, 650px 100px red,
    660px 100px red, 670px 100px black, 680px 100px red,
    690px 100px red /*tenth line*/, 690px 110px red, 680px 110px black,
    670px 110px red, 660px 110px black, 650px 110px red, 640px 110px red,
    630px 110px black, 620px 110px red, 610px 110px red, 600px 110px black,
    590px 110px red, 580px 110px red, 570px 110px red, 560px 110px red,
    550px 110px red, 540px 110px red, 530px 110px red, 520px 110px red,
    510px 110px red, 500px 110px red, 490px 110px grey, 480px 110px red,
    470px 110px red, 460px 110px red, 450px 110px grey, 440px 110px red,
    430px 110px red, 420px 110px grey, 410px 110px red, 400px 110px black,
    390px 110px red, 380px 110px red /* eleventh line*/, 420px 120px red,
    420px 130px grey, 420px 140px grey, 410px 120px red, 400px 120px red,
    390px 120px black, 380px 120px red, 430px 120px grey, 440px 120px grey,
    450px 120px red, 460px 120px red, 470px 120px red, 480px 120px red,
    490px 120px grey, 500px 120px red, 510px 120px red, 520px 120px red,
    530px 120px red, 540px 120px red, 550px 120px red, 560px 120px red,
    570px 120px red, 580px 120px red, 590px 120px red, 600px 120px black,
    610px 120px red, 620px 120px red, 630px 120px red, 640px 120px black,
    650px 120px red, 660px 120px black, 670px 120px red, 680px 120px red,
    690px 120px black, 700px 120px red /*12th line*/, 700px 130px rgb(127, 8, 8),
    710px 130px rgb(127, 8, 8), 710px 140px rgb(127, 8, 8), 720px 140px black,
    700px 140px black, 690px 130px black, 680px 130px red, 670px 130px red,
    660px 130px red, 650px 130px black, 640px 130px red, 630px 130px red,
    620px 130px red, 610px 130px red, 600px 130px black, 590px 130px red,
    580px 130px red, 570px 130px red, 560px 130px red, 550px 130px red,
    540px 130px red, 530px 130px red, 520px 130px red, 510px 130px red,
    500px 130px red, 490px 130px grey, 480px 130px red, 470px 130px red,
    460px 130px red, 450px 130px red, 440px 130px red, 430px 130px red,
    410px 130px red, 400px 130px red, 390px 130px black, 380px 130px red,
    370px 130px red, /*15th line*/ 650px 140px black, 650px 150px black,
    660px 140px black, 690px 140px red, 680px 140px red, 670px 140px red,
    640px 140px red, 630px 140px red, 620px 140px red, 610px 140px red,
    600px 140px black, 600px 150px black, 590px 140px red, 580px 140px red,
    570px 140px red, 560px 140px red, 550px 140px red, 540px 140px red,
    530px 140px red, 530px 140px red, 520px 140px red, 510px 140px red,
    500px 140px red, 490px 140px grey, 480px 140px red, 470px 140px red,
    460px 140px red, 460px 140px red, 450px 140px red, 440px 140px red,
    430px 140px red, 410px 140px red, 400px 140px red, 390px 140px red,
    380px 140px black, 370px 140px black /*13th line*/, 360px 150px black,
    360px 160px black, 370px 150px red, 380px 150px black, 390px 150px red,
    400px 150px red, 410px 150px grey, 420px 150px red, 430px 150px grey,
    440px 150px red, 450px 150px red, 460px 150px red, 470px 150px red,
    480px 150px red, 490px 150px grey, 500px 150px grey, 510px 150px black,
    520px 150px black, 530px 150px black, 540px 150px black, 550px 150px black,
    560px 150px black, 570px 150px black, 580px 150px black, 590px 150px black,
    610px 150px red, 620px 150px red, 630px 150px red, 640px 150px red,
    660px 150px red, 670px 150px black, 680px 150px red, 690px 150px red,
    700px 150px black, 710px 150px black, 720px 150px black /*14th line*/,
    720px 160px black, 720px 170px black, 720px 180px black, 720px 190px black,
    710px 160px rgb(127, 8, 8), 710px 170px rgb(127, 8, 8), 710px 180px black,
    700px 180px black, 700px 170px black, 700px 160px black, 700px 150px black,
    690px 160px red, 680px 160px red, 670px 160px black, 660px 160px red,
    650px 160px red, 640px 160px black, 630px 160px red, 620px 160px red,
    610px 160px black, 600px 160px red, 590px 160px black, 580px 160px red,
    570px 160px red, 560px 160px red, 550px 160px red, 540px 160px red,
    530px 160px red, 520px 160px red, 510px 160px red, 500px 160px grey,
    490px 160px red, 480px 160px grey, 470px 160px red, 460px 160px red,
    450px 160px red, 440px 160px grey, 430px 160px red, 420px 160px red,
    410px 160px grey, 400px 160px red, 390px 160px red, 380px 160px black,
    370px 160px red /*15th line*/, 360px 170px black, 360px 180px black,
    360px 190px black, 360px 200px black, 360px 210px black, 360px 220px black,
    360px 230px black, 360px 240px black, 720px 240px black, 720px 230px black,
    720px 220px black, 720px 220px black, 720px 210px black, 720px 200px black,
    370px 170px red, 380px 170px black, 390px 170px red, 400px 170px grey,
    400px 180px grey, 410px 170px red, 420px 170px red, 430px 170px red,
    440px 170px grey, 450px 170px red, 460px 170px red, 470px 170px grey,
    480px 170px red, 490px 170px red, 500px 170px grey, 510px 170px red,
    520px 170px red, 530px 170px red, 540px 170px red, 550px 170px red,
    560px 170px red, 570px 170px red, 580px 170px red, 590px 170px black,
    600px 170px red, 610px 170px red, 620px 170px black, 630px 170px red,
    640px 170px black, 650px 170px red, 660px 170px red, 670px 170px red,
    680px 170px black, 690px 170px rgb(127, 8, 8) /*16th line*/,
    690px 180px rgb(127, 8, 8), 680px 180px black, 680px 190px black,
    690px 190px black, 700px 190px rgb(127, 8, 8), 700px 200px rgb(127, 8, 8),
    700px 210px rgb(127, 8, 8), 700px 220px rgb(127, 8, 8), 710px 220px black,
    710px 210px black, 710px 200px black, 710px 190px black, 500px 180px grey,
    500px 190px grey, 500px 200px grey, 500px 210px grey, 580px 210px black,
    580px 200px black, 580px 190px black, 580px 180px black, 370px 180px black,
    370px 190px black, 370px 200px black, 370px 210px black, 380px 210px red,
    380px 200px red, 380px 190px red, 380px 180px red, 390px 180px black,
    390px 190px black, 390px 200px black, 390px 210px black, 400px 210px red,
    400px 200px red, 400px 190px red, 410px 190px red, 410px 180px red,
    420px 180px red, 430px 180px red, 440px 180px red, 450px 180px grey,
    460px 180px grey, 470px 180px red, 480px 180px red, 490px 180px red,
    490px 190px red, 480px 190px red, 470px 190px red, 460px 190px grey,
    450px 190px grey, 440px 190px red, 430px 190px red, 420px 190px red,
    410px 190px red, 410px 200px red, 420px 200px red, 430px 200px red,
    440px 200px grey, 450px 200px red, 460px 200px grey, 470px 200px red,
    480px 200px red, 490px 200px red, 490px 210px red, 480px 210px red,
    470px 210px red, 460px 210px grey, 450px 210px red, 440px 210px grey,
    430px 210px red, 420px 210px red, 410px 210px red, 400px 220px black,
    390px 220px black, 380px 220px red, 370px 220px red, 370px 230px red,
    380px 230px red, 390px 230px black, 400px 230px black, 410px 230px red,
    420px 230px red, 430px 230px grey, 430px 220px grey, 420px 220px red,
    410px 220px red, 440px 220px red, 450px 220px red, 460px 220px red,
    470px 220px grey, 480px 220px red, 490px 220px red, 500px 220px grey,
    510px 220px black, 500px 230px black, 510px 230px red, 490px 230px black,
    480px 230px red, 470px 230px grey, 470px 240px grey, 470px 250px grey,
    470px 260px grey, 480px 260px black, 480px 250px red, 480px 240px black,
    490px 240px red, 500px 240px red, 510px 240px black, 510px 250px black,
    510px 260px black, 510px 270px black, 520px 280px black, 510px 280px red,
    500px 280px red, 490px 280px black, 490px 270px black, 490px 260px red,
    490px 250px red, 500px 250px red, 500px 260px red, 500px 270px red,
    480px 270px red, 470px 270px red, 460px 270px red, 450px 270px black,
    440px 270px red, 430px 270px black, 420px 270px black, 410px 270px grey,
    400px 270px grey, 400px 280px grey, 400px 290px grey, 400px 300px grey,
    390px 270px black, 390px 280px black, 390px 290px black, 390px 300px black,
    380px 270px red, 370px 270px red, 420px 260px black,
    410px 260px rgb(80, 80, 80), 400px 240px black, 410px 240px grey,
    420px 240px grey, 390px 240px black, 380px 240px black, 370px 240px red,
    360px 250px black, 370px 250px red, 380px 250px black, 380px 260px red,
    390px 260px black, 390px 250px black, 400px 250px grey, 400px 260px grey,
    410px 250px black, 420px 250px red, 430px 250px red, 440px 250px red,
    450px 250px red, 460px 250px red, 460px 240px red, 460px 230px red,
    450px 230px red, 440px 230px red, 440px 240px red, 430px 240px red,
    450px 240px red, 450px 260px red, 460px 260px black, 440px 260px red,
    430px 260px red, 370px 260px black, 360px 260px black, 360px 270px black,
    370px 290px red, 380px 290px red, 380px 300px red, 370px 300px red,
    370px 280px red, 380px 280px red, 410px 280px lightgrey, 560px 280px red,
    570px 280px black, 550px 280px red, 580px 280px red, 590px 280px red,
    600px 280px rgb(127, 8, 8), 610px 280px black, 620px 280px black,
    630px 280px black, 640px 280px rgb(80, 80, 80), 650px 280px grey,
    660px 280px rgb(80, 80, 80), 670px 280px black, 680px 280px black,
    690px 280px black, 700px 280px black, 710px 280px black, 410px 290px grey,
    420px 290px grey, 410px 300px grey, 420px 300px lightgrey, 530px 300px black,
    540px 300px red, 540px 290px black, 550px 290px black, 560px 290px black,
    570px 290px red, 580px 290px red, 590px 290px rgb(127, 8, 8),
    600px 290px rgb(127, 8, 8), 610px 290px black, 620px 290px black,
    630px 290px black, 640px 290px grey, 650px 290px grey,
    660px 290px rgb(80, 80, 80), 670px 290px black, 680px 290px black,
    690px 290px black, 700px 290px black, 710px 290px black, 720px 290px black,
    730px 290px black, 550px 300px black, 560px 300px black, 570px 300px red,
    580px 300px red, 590px 300px rgb(127, 8, 8), 600px 300px black,
    610px 300px black, 620px 300px black, 630px 300px grey, 640px 300px grey,
    650px 300px grey, 660px 300px black, 670px 300px black,
    680px 300px rgb(127, 8, 8), 690px 300px black, 700px 300px black,
    710px 300px black, 420px 310px lightgrey, 430px 310px lightgrey,
    430px 320px lightgrey, 420px 320px lightgrey, 420px 330px lightgrey,
    410px 330px rgb(80, 80, 80), 400px 330px black, 430px 330px lightgrey,
    440px 330px lightgrey, 450px 330px lightgrey, 460px 330px grey,
    470px 330px rgb(80, 80, 80), 410px 340px black, 420px 340px grey,
    430px 340px lightgrey, 440px 340px lightgrey, 450px 340px lightgrey,
    390px 340px red, 390px 330px red, 390px 320px red, 360px 320px black,
    360px 330px black, 360px 340px black, 400px 340px red, 510px 350px red,
    520px 350px lightgrey, 530px 350px black, 540px 350px black,
    550px 350px rgb(127, 8, 8), 560px 350px black, 570px 350px black,
    580px 350px black, 590px 350px rgb(80, 80, 80), 600px 350px grey,
    610px 350px grey, 620px 350px grey, 630px 350px rgb(80, 80, 80),
    640px 350px black, 650px 350px black, 660px 350px rgb(127, 8, 8),
    670px 350px black, 680px 350px black, 690px 350px black, 700px 350px black,
    710px 350px black, 460px 340px lightgrey, 470px 340px grey,
    480px 340px rgb(80, 80, 80), 490px 340px black, 500px 340px black,
    510px 340px black, 520px 340px red, 530px 340px black, 540px 340px red,
    550px 340px black, 560px 340px black, 570px 340px black, 580px 340px black,
    590px 340px rgb(80, 80, 80), 600px 340px grey, 610px 340px grey,
    620px 340px grey, 630px 340px grey, 640px 340px rgb(80, 80, 80),
    650px 340px black, 660px 340px rgb(127, 8, 8), 670px 340px rgb(127, 8, 8),
    680px 340px black, 690px 340px black, 700px 340px black, 710px 340px black,
    500px 350px black, 490px 350px black, 480px 350px rgb(80, 80, 80),
    470px 350px grey, 460px 350px grey, 450px 350px lightgrey,
    440px 350px lightgrey, 430px 350px grey, 420px 350px rgb(80, 80, 80),
    400px 350px red, 390px 350px red, 380px 350px rgb(127, 8, 8),
    380px 340px rgb(127, 8, 8), 380px 330px rgb(127, 8, 8),
    380px 320px rgb(127, 8, 8), 370px 320px rgb(127, 8, 8),
    370px 330px rgb(127, 8, 8), 370px 340px black, 370px 350px black,
    370px 360px rgb(127, 8, 8), 380px 360px black, 390px 360px black,
    400px 360px red, 410px 360px red, 420px 360px black, 430px 360px grey,
    440px 360px lightgrey, 450px 360px lightgrey, 460px 360px grey,
    470px 360px rgb(80, 80, 80), 480px 360px black, 490px 360px red,
    500px 360px red, 510px 360px red, 520px 360px lightgrey,
    520px 370px lightgrey, 530px 370px red, 540px 370px black, 550px 370px red,
    560px 370px rgb(127, 8, 8), 570px 370px rgb(127, 8, 8), 580px 370px black,
    590px 370px black, 600px 370px black, 610px 370px rgb(80, 80, 80),
    620px 370px black, 630px 370px black, 640px 370px black, 650px 370px black,
    660px 370px rgb(127, 8, 8), 670px 370px black, 680px 370px black,
    690px 370px black, 700px 370px black, 710px 370px black, 710px 380px black,
    700px 380px black, 690px 380px black, 680px 380px black, 670px 380px black,
    660px 380px black, 650px 380px rgb(127, 8, 8), 640px 380px rgb(127, 8, 8),
    630px 380px black, 620px 380px black, 610px 380px black, 600px 380px black,
    590px 380px rgb(127, 8, 8), 580px 380px rgb(127, 8, 8), 570px 380px black,
    560px 380px black, 550px 380px rgb(127, 8, 8), 540px 380px black,
    530px 380px red, 520px 380px red, 510px 380px lightgrey, 500px 380px red,
    490px 380px lightgrey, 480px 380px red, 470px 380px red, 460px 380px black,
    450px 380px black, 440px 380px black, 430px 380px black, 420px 380px red,
    410px 380px red, 400px 380px black, 390px 380px rgb(127, 8, 8),
    380px 380px black, 370px 380px black, 370px 390px black, 380px 390px black,
    390px 390px rgb(127, 8, 8), 400px 390px black, 410px 390px red,
    420px 390px red, 430px 390px red, 440px 390px red, 450px 390px black,
    460px 390px red, 470px 390px red, 480px 390px lightgrey, 490px 390px red,
    500px 390px red, 510px 390px lightgrey, 520px 390px red, 530px 390px red,
    540px 390px black, 550px 390px rgb(127, 8, 8), 560px 390px black,
    570px 390px rgb(127, 8, 8), 580px 390px rgb(127, 8, 8), 590px 390px black,
    600px 390px rgb(127, 8, 8), 610px 390px black, 620px 390px black,
    630px 390px black, 640px 390px rgb(127, 8, 8), 650px 390px rgb(127, 8, 8),
    660px 390px black, 670px 390px black, 680px 390px black, 690px 390px black,
    700px 390px black, 700px 400px black, 690px 400px black, 680px 400px black,
    670px 400px black, 660px 400px black, 650px 400px black,
    640px 400px rgb(127, 8, 8), 630px 400px rgb(127, 8, 8), 620px 400px black,
    610px 400px rgb(127, 8, 8), 600px 400px rgb(127, 8, 8), 590px 400px black,
    580px 400px black, 570px 400px red, 560px 400px rgb(127, 8, 8),
    550px 400px black, 540px 400px black, 530px 400px black, 520px 400px black,
    510px 400px lightgrey, 500px 400px lightgrey, 490px 400px red,
    480px 400px red, 470px 400px lightgrey, 460px 400px red, 450px 400px red,
    440px 400px black, 430px 400px red, 420px 400px red, 410px 400px black,
    400px 400px red, 390px 400px rgb(127, 8, 8), 380px 400px black,
    370px 400px black, 370px 410px rgb(127, 8, 8), 380px 410px rgb(127, 8, 8),
    390px 410px black, 400px 410px red, 410px 410px black, 420px 410px red,
    430px 410px black, 440px 410px red, 450px 410px red, 460px 410px red,
    470px 410px black, 480px 410px black, 490px 410px red, 500px 410px red,
    510px 410px black, 520px 410px red, 530px 410px red, 540px 410px red,
    550px 410px black, 560px 410px rgb(127, 8, 8), 570px 410px rgb(127, 8, 8),
    580px 410px black, 590px 410px black, 600px 410px rgb(127, 8, 8),
    610px 410px black, 620px 410px black, 630px 410px rgb(127, 8, 8),
    640px 410px rgb(127, 8, 8), 650px 410px black, 660px 410px rgb(127, 8, 8),
    670px 410px black, 680px 410px black, 690px 410px black, 700px 410px black,
    700px 420px black, 690px 420px black, 680px 420px black, 670px 420px black,
    660px 420px black, 650px 420px black, 640px 420px black,
    630px 420px rgb(127, 8, 8), 620px 420px rgb(127, 8, 8), 610px 420px black,
    600px 420px black, 590px 420px rgb(127, 8, 8), 580px 420px rgb(127, 8, 8),
    570px 420px black, 560px 420px black, 550px 420px rgb(127, 8, 8),
    540px 420px red, 530px 420px red, 520px 420px red, 510px 420px black,
    500px 420px red, 490px 420px black, 480px 420px red, 470px 420px red,
    460px 420px black, 450px 420px red, 440px 420px red, 430px 420px red,
    420px 420px black, 410px 420px red, 400px 420px rgb(127, 8, 8),
    390px 420px black, 380px 420px rgb(127, 8, 8), 370px 420px rgb(127, 8, 8),
    380px 430px rgb(127, 8, 8), 370px 430px rgb(127, 8, 8), 390px 430px black,
    400px 430px rgb(127, 8, 8), 410px 430px red, 420px 430px red,
    430px 430px black, 440px 430px red, 450px 430px black, 460px 430px red,
    470px 430px red, 480px 430px red, 490px 430px red, 500px 430px black,
    510px 430px red, 520px 430px red, 530px 430px red, 540px 430px black,
    550px 430px black, 560px 430px black, 570px 430px rgb(127, 8, 8),
    580px 430px rgb(127, 8, 8), 590px 430px rgb(127, 8, 8), 600px 430px black,
    610px 430px black, 620px 430px rgb(127, 8, 8), 630px 430px black,
    640px 430px black, 650px 430px rgb(127, 8, 8), 660px 430px black,
    670px 430px black, 680px 430px black, 690px 430px black, 690px 440px black,
    680px 440px black, 670px 440px black, 660px 440px black, 650px 440px black,
    640px 440px rgb(127, 8, 8), 630px 440px black, 620px 440px black,
    610px 440px black, 600px 440px black, 590px 440px rgb(127, 8, 8),
    580px 440px rgb(127, 8, 8), 570px 440px black, 560px 440px rgb(127, 8, 8),
    550px 440px rgb(127, 8, 8), 540px 440px rgb(127, 8, 8), 530px 440px black,
    520px 440px black, 510px 440px black, 500px 440px black, 490px 440px red,
    480px 440px red, 470px 440px red, 460px 440px black, 450px 440px red,
    440px 440px black, 430px 440px red, 420px 440px red,
    410px 440px rgb(127, 8, 8), 400px 440px black, 390px 440px rgb(127, 8, 8),
    380px 440px rgb(127, 8, 8), 380px 450px rgb(127, 8, 8), 390px 450px black,
    400px 450px black, 410px 450px rgb(127, 8, 8), 420px 450px red,
    430px 450px black, 440px 450px black, 450px 450px red, 460px 450px red,
    470px 450px black, 480px 450px red, 490px 450px red, 500px 450px black,
    510px 450px red, 520px 450px red, 530px 450px red, 540px 450px red,
    550px 450px red, 560px 450px rgb(127, 8, 8), 570px 450px black,
    580px 450px rgb(127, 8, 8), 590px 450px black, 600px 450px rgb(127, 8, 8),
    610px 450px rgb(127, 8, 8), 620px 450px black, 630px 450px black,
    640px 450px rgb(127, 8, 8), 650px 450px black, 660px 450px black,
    670px 450px black, 680px 450px black, 680px 460px black, 670px 460px black,
    660px 460px black, 650px 460px black, 640px 460px black, 630px 460px black,
    620px 460px black, 610px 460px black, 600px 460px rgb(127, 8, 8),
    590px 460px rgb(127, 8, 8), 580px 460px black, 570px 460px rgb(127, 8, 8),
    560px 460px rgb(127, 8, 8), 550px 460px red, 540px 460px red,
    530px 460px red, 520px 460px red, 510px 460px red, 500px 460px black,
    490px 460px red, 480px 460px black, 470px 460px red, 460px 460px red,
    450px 460px black, 440px 460px red, 430px 460px red,
    420px 460px rgb(127, 8, 8), 410px 460px black, 400px 460px black,
    400px 470px rgb(127, 8, 8), 410px 470px black, 420px 470px rgb(127, 8, 8),
    430px 470px red, 440px 470px red, 450px 470px red, 460px 470px black,
    470px 470px red, 480px 470px red, 490px 470px black, 500px 470px black,
    510px 470px black, 520px 470px black, 530px 470px black, 540px 470px black,
    550px 470px black, 560px 470px black, 570px 470px black,
    580px 470px rgb(127, 8, 8), 590px 470px rgb(127, 8, 8), 600px 470px black,
    610px 470px rgb(127, 8, 8), 620px 470px rgb(127, 8, 8), 630px 470px black,
    640px 470px black, 650px 470px black, 660px 470px black, 670px 470px black,
    670px 480px black, 660px 480px black, 650px 480px black, 640px 480px black,
    630px 480px black, 620px 480px rgb(127, 8, 8), 610px 480px rgb(127, 8, 8),
    600px 480px black, 590px 480px rgb(127, 8, 8), 580px 480px rgb(127, 8, 8),
    580px 480px black, 570px 480px black, 560px 480px red, 550px 480px red,
    540px 480px red, 530px 480px red, 520px 480px red, 510px 480px red,
    500px 480px red, 490px 480px black, 480px 480px red, 470px 480px red,
    460px 480px black, 450px 480px red, 440px 480px red, 430px 480px red,
    420px 480px rgb(127, 8, 8), 410px 480px black, 400px 480px rgb(127, 8, 8),
    400px 490px rgb(127, 8, 8), 410px 490px black, 420px 490px black,
    430px 490px rgb(127, 8, 8), 440px 490px red, 450px 490px red,
    460px 490px red, 470px 490px black, 480px 490px red, 490px 490px black,
    500px 490px red, 510px 490px red, 520px 490px red, 530px 490px red,
    540px 490px red, 550px 490px red, 560px 490px red, 570px 490px black,
    580px 490px rgb(127, 8, 8), 590px 490px black, 600px 490px rgb(127, 8, 8),
    610px 490px rgb(127, 8, 8), 620px 490px black, 630px 490px black,
    640px 490px black, 650px 490px black, 660px 490px black, 660px 500px black,
    650px 500px black, 640px 500px black, 630px 500px black, 620px 500px black,
    610px 500px rgb(127, 8, 8), 600px 500px rgb(127, 8, 8),
    590px 500px rgb(127, 8, 8), 580px 500px black, 570px 500px black,
    560px 500px red, 550px 500px red, 540px 500px rgb(127, 8, 8),
    530px 500px rgb(127, 8, 8), 520px 500px rgb(127, 8, 8), 510px 500px red,
    500px 500px red, 490px 500px black, 480px 500px black, 470px 500px red,
    460px 500px red, 450px 500px red, 440px 500px black, 430px 500px black,
    420px 500px black, 410px 500px rgb(127, 8, 8), 410px 510px rgb(127, 8, 8),
    420px 510px black, 430px 510px rgb(127, 8, 8), 440px 510px black,
    450px 510px black, 460px 510px red, 470px 510px black, 480px 510px black,
    490px 510px black, 500px 510px black, 510px 510px black, 520px 510px black,
    530px 510px black, 540px 510px rgb(127, 8, 8), 550px 510px rgb(127, 8, 8),
    560px 510px rgb(127, 8, 8), 570px 510px black, 580px 510px rgb(127, 8, 8),
    590px 510px rgb(127, 8, 8), 600px 510px black, 610px 510px black,
    620px 510px black, 630px 510px black, 640px 510px black, 650px 510px black,
    650px 520px black, 640px 520px black, 630px 520px black, 620px 520px black,
    610px 520px black, 600px 520px black, 590px 520px black,
    580px 520px rgb(127, 8, 8), 570px 520px black, 560px 520px black,
    550px 520px black, 540px 520px black, 530px 520px red, 520px 520px red,
    510px 520px red, 500px 520px red, 490px 520px red, 480px 520px red,
    470px 520px rgb(127, 8, 8), 460px 520px black, 450px 520px black,
    440px 520px rgb(127, 8, 8), 430px 520px black, 420px 520px red,
    420px 530px red, 430px 530px black, 440px 530px rgb(127, 8, 8),
    450px 530px black, 460px 530px black, 470px 530px black, 480px 530px red,
    490px 530px red, 500px 530px red, 510px 530px red, 520px 530px red,
    530px 530px red, 540px 530px red, 550px 530px red, 560px 530px red,
    570px 530px rgb(127, 8, 8), 580px 530px black, 590px 530px black,
    600px 530px black, 610px 530px black, 620px 530px black, 630px 530px black,
    630px 540px black, 620px 540px black, 610px 540px black, 600px 540px black,
    590px 540px black, 580px 540px black, 570px 540px black, 560px 540px red,
    550px 540px red, 540px 540px red, 530px 540px red, 520px 540px red,
    510px 540px red, 500px 540px red, 490px 540px black, 480px 540px black,
    470px 540px rgb(127, 8, 8), 460px 540px black, 450px 540px rgb(127, 8, 8),
    440px 540px black, 440px 550px red, 450px 550px black, 460px 550px black,
    470px 550px rgb(127, 8, 8), 480px 550px rgb(127, 8, 8), 490px 550px black,
    500px 550px black, 510px 550px black, 520px 550px black, 530px 550px black,
    540px 550px black, 550px 550px black, 560px 550px black, 570px 550px black,
    580px 550px black, 590px 550px black, 600px 550px black, 610px 550px black,
    620px 550px black, 510px 370px red, 500px 370px black, 490px 370px black,
    480px 370px red, 500px 360px red, 510px 360px red, 520px 360px grey,
    530px 360px black, 470px 370px black, 460px 370px rgb(80, 80, 80),
    450px 370px grey, 440px 370px grey, 430px 370px black, 420px 370px red,
    410px 370px red, 400px 370px red, 390px 370px black, 380px 370px black,
    530px 360px black, 540px 360px rgb(127, 8, 8), 550px 360px rgb(127, 8, 8),
    560px 360px rgb(127, 8, 8), 570px 360px black, 580px 360px black,
    590px 360px black, 600px 360px rgb(80, 80, 80), 610px 360px grey,
    620px 360px grey, 630px 360px black, 640px 360px black,
    650px 360px rgb(127, 8, 8), 660px 360px rgb(127, 8, 8), 670px 360px black,
    680px 360px black, 690px 360px black, 700px 360px black, 710px 360px black,
    370px 370px rgb(127, 8, 8), 410px 350px black, 480px 330px black,
    490px 330px black, 500px 330px red, 510px 330px red, 520px 330px black,
    530px 330px black, 540px 330px red, 550px 330px red, 560px 330px red,
    570px 330px red, 580px 330px black, 590px 330px black,
    600px 330px rgb(80, 80, 80), 610px 330px grey, 620px 330px grey,
    630px 330px grey, 640px 330px rgb(80, 80, 80), 650px 330px black,
    660px 330px black, 670px 330px black, 680px 330px black, 690px 330px black,
    700px 330px black, 710px 330px black, 410px 320px grey, 400px 320px black,
    440px 320px grey, 450px 320px grey, 460px 320px rgb(80, 80, 80),
    470px 320px black, 480px 320px black, 410px 310px grey, 400px 310px black,
    390px 310px black, 380px 310px black, 370px 310px black, 440px 310px grey,
    450px 310px rgb(80, 80, 80), 460px 310px black, 470px 310px black,
    480px 310px red, 490px 310px black, 490px 320px red, 500px 320px red,
    510px 320px red, 520px 320px black, 530px 320px black, 540px 320px red,
    550px 320px red, 560px 320px red, 570px 320px red, 580px 320px black,
    590px 320px black, 600px 320px black, 610px 320px rgb(80, 80, 80),
    620px 320px grey, 630px 320px grey, 640px 320px grey,
    650px 320px rgb(80, 80, 80), 660px 320px black, 670px 320px black,
    680px 320px black, 690px 320px black, 700px 320px black, 710px 320px black,
    500px 310px red, 510px 310px black, 520px 310px red, 530px 310px black,
    540px 310px black, 550px 310px red, 560px 310px red, 570px 310px black,
    580px 310px black, 590px 310px rgb(127, 8, 8), 600px 310px black,
    610px 310px black, 620px 310px rgb(80, 80, 80), 630px 310px grey,
    640px 310px grey, 650px 310px rgb(80, 80, 80), 660px 310px black,
    670px 310px black, 680px 310px black, 690px 310px black, 700px 310px black,
    710px 310px black, 430px 300px grey, 440px 300px rgb(80, 80, 80),
    450px 300px rgb(80, 80, 80), 460px 300px black, 470px 300px red,
    480px 300px red, 490px 300px red, 500px 300px black, 510px 300px red,
    520px 300px red, 500px 290px black, 510px 290px black, 520px 290px black,
    530px 290px black, 490px 290px red, 480px 290px red, 470px 290px red,
    460px 290px red, 430px 290px grey, 440px 290px rgb(80, 80, 80),
    450px 290px black, 420px 280px grey, 430px 280px black, 440px 280px black,
    450px 280px red, 460px 280px red, 470px 280px red, 480px 280px red,
    530px 280px red, 540px 280px black, 540px 270px black, 550px 270px red,
    560px 270px red, 570px 270px black, 580px 270px black, 590px 270px red,
    600px 270px black, 610px 270px rgb(127, 8, 8), 620px 270px black,
    630px 270px black, 640px 270px black, 650px 270px rgb(80, 80, 80),
    660px 270px rgb(80, 80, 80), 660px 260px rgb(80, 80, 80), 650px 260px black,
    640px 260px black, 630px 260px black, 620px 260px black,
    610px 260px rgb(127, 8, 8), 600px 260px black, 590px 260px red,
    580px 260px black, 570px 260px red, 560px 260px red, 550px 260px red,
    530px 260px red, 520px 260px red, 520px 250px red, 530px 250px red,
    540px 250px red, 560px 250px red, 570px 250px red, 580px 250px red,
    590px 250px black, 600px 250px red, 610px 250px red, 620px 250px black,
    630px 250px rgb(127, 8, 8), 640px 250px black, 650px 250px black,
    660px 250px black, 670px 250px black, 680px 250px black, 690px 250px black,
    700px 250px black, 650px 240px black, 660px 240px black, 670px 240px black,
    680px 240px black, 690px 240px black, 700px 240px black,
    640px 240px rgb(127, 8, 8), 630px 240px rgb(127, 8, 8), 620px 240px red,
    610px 240px black, 600px 240px black, 590px 240px black, 580px 240px red,
    570px 240px red, 560px 240px red, 550px 240px black, 540px 240px red,
    530px 240px red, 520px 240px red, 520px 230px red, 530px 230px red,
    540px 230px red, 550px 230px black, 560px 230px red, 570px 230px black,
    580px 230px black, 590px 230px red, 600px 230px black, 600px 220px black,
    610px 230px red, 620px 230px red, 630px 230px red,
    640px 230px rgb(127, 8, 8), 650px 230px black, 660px 230px black,
    670px 230px black, 680px 230px black, 690px 230px black, 700px 230px black,
    710px 230px black, 670px 270px black, 680px 270px black, 690px 270px black,
    700px 270px black, 710px 270px black, 530px 270px red, 520px 270px red,
    540px 260px black, 550px 250px black, 360px 280px black, 360px 290px black,
    360px 300px black, 360px 310px black, 700px 260px black, 690px 260px black,
    680px 260px black, 670px 260px black, 550px 220px black, 540px 220px black,
    530px 220px black, 520px 220px black, 560px 220px black, 570px 220px black,
    580px 220px black, 590px 220px red, 620px 220px red, 630px 220px red,
    640px 220px black, 610px 220px red, 650px 220px black,
    660px 220px rgb(127, 8, 8), 670px 220px black, 680px 220px black,
    690px 220px black, 690px 210px black, 690px 200px black, 680px 200px black,
    680px 210px black, 670px 210px black, 670px 200px rgb(127, 8, 8),
    670px 190px red, 670px 180px red, 660px 180px red, 650px 180px red,
    640px 180px red, 630px 180px black, 630px 190px black, 640px 190px black,
    650px 190px red, 650px 200px black, 660px 200px red, 660px 190px red,
    660px 210px black, 650px 210px red, 640px 210px red, 630px 210px red,
    620px 210px red, 610px 210px black, 600px 210px red, 590px 210px red,
    590px 200px red, 590px 190px red, 590px 180px red, 600px 180px red,
    610px 180px red, 620px 180px red, 620px 190px red, 610px 190px red,
    600px 190px red, 600px 200px red, 610px 200px red, 620px 200px black,
    630px 200px red, 640px 200px red, 570px 200px red, 570px 190px red,
    570px 180px red, 560px 180px red, 550px 180px red, 540px 180px red,
    530px 180px red, 520px 180px red, 510px 180px red, 510px 190px red,
    520px 190px red, 530px 190px red, 540px 190px red, 550px 190px red,
    550px 200px red, 560px 200px red, 560px 190px red, 540px 200px red,
    530px 200px red, 520px 200px red, 510px 200px red, 510px 210px red,
    520px 210px red, 530px 210px red, 540px 210px red, 550px 210px red,
    560px 210px red, 570px 210px red, 720px 340px black, 720px 330px black,
    720px 320px black, 720px 310px black, 720px 300px black, 720px 290px black,
    720px 280px black, 720px 270px black, 720px 260px black, 720px 250px black,
    710px 250px black, 710px 240px black, 710px 260px black;
}
